.text-darkslategray {
    color: #2F4F4F
    }
    
    .bg-darkslategray {
    background-color: #2F4F4F
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-forestgreen {
    color: #228B22
    }
    
    .bg-forestgreen {
    background-color: #228B22
    }
    
    .text-teal {
    color: #008080
    }
    
    .bg-teal {
    background-color: #008080
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-teal {
    color: #008080
    }
    
    .bg-teal {
    background-color: #008080
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-forestgreen {
    color: #228B22
    }
    
    .bg-forestgreen {
    background-color: #228B22
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-lightgreen {
    color: #90EE90
    }
    
    .bg-lightgreen {
    background-color: #90EE90
    }
    #e__119 {
    width: 320px;
    height: 568.00px;
    background-color: rgba(73, 83, 78, 1.00);
    padding: 0px 0px 0px 0px;
    }
    #e__120 {
    width: 44px;
    height: 15.00px;
    color: rgba(255, 255, 255, 1.00);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 396px;
    left: 57px;
    padding: 0px 0px 0px 0px;
    }
    #e__121 {
    width: 66px;
    height: 15.00px;
    color: rgba(255, 255, 255, 1.00);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 337px;
    left: 57px;
    padding: 0px 0px 0px 0px;
    }
    #e__122 {
    width: 69px;
    height: 15.00px;
    color: rgba(255, 255, 255, 1.00);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 268px;
    left: 112px;
    padding: 0px 0px 0px 0px;
    }
    #e__123 {
    width: 15px;
    height: 16.00px;
    background-color: rgba(83, 166, 77, 1.00);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    position: absolute;
    top: 268px;
    left: 90px;
    padding: 0px 0px 0px 0px;
    }
    #e__124 {
    width: 140px;
    height: 22.00px;
    position: absolute;
    top: 224px;
    left: 143px;
    padding: 0px 0px 0px 0px;
    }
    #e__125 {
    width: 144px;
    height: 27.00px;
    background-color: rgba(55, 117, 97, 1.00);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 214px;
    left: 88px;
    padding: 0px 0px 0px 0px;
    }
    #e__126 {
    width: 99px;
    height: 19.00px;
    color: rgba(255, 255, 255, 1.00);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: 210px;
    left: 111px;
    padding: 0px 0px 0px 0px;
    }
    #e__127 {
    width: 140px;
    height: 22.00px;
    position: absolute;
    top: 165px;
    left: 143px;
    padding: 0px 0px 0px 0px;
    }
    #e__128 {
    width: 76px;
    height: 18.00px;
    background-image: linear-gradient(0deg, rgba(238, 237, 237, 1) 0%) ;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 152px;
    left: 65px;
    padding: 0px 0px 0px 0px;
    }
    #e__129 {
    width: 12px;
    height: 12.00px;
    position: absolute;
    top: 149px;
    left: 97px;
    padding: 0px 0px 0px 0px;
    }
    #e__130 {
    width: 77px;
    height: 18.00px;
    background-image: linear-gradient(0deg, rgba(25, 119, 243, 1) 0%) ;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 152px;
    left: 179px;
    padding: 0px 0px 0px 0px;
    }
    #e__131 {
    width: 17px;
    height: 16.00px;
    position: absolute;
    top: 152px;
    left: 209px;
    padding: 0px 0px 0px 0px;
    }
    #e__132 {
    width: 153px;
    height: 29.00px;
    background-color: rgba(55, 117, 97, 1.00);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 99px;
    left: 83px;
    padding: 0px 0px 0px 0px;
    }
    #e__133 {
    width: 105px;
    height: 24.00px;
    color: rgba(255, 255, 255, 1.00);
    color: rgba(255, 255, 255, 0.99);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: 95px;
    left: 118px;
    padding: 0px 0px 0px 0px;
    }
    #e__134 {
    border: 15px solid rgba(83, 166, 77, 1.00);
    width: 93px;
    height: 90.00px;
    background-color: rgba(83, 166, 77, 1.00);
    border-radius: 93px / 90px;
    position: absolute;
    top: 26px;
    left: 114px;
    padding: 0px 0px 0px 0px;
    }
    #e__135 {
    width: 34px;
    height: 15.00px;
    color: rgba(255, 255, 255, 1.00);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 503px;
    left: 143px;
    padding: 0px 0px 0px 0px;
    }
    #e__1042 {
    width: 141px;
    height: 15.00px;
    color: rgba(127, 227, 157, 1.00);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 35px;
    left: 97px;
    padding: 0px 0px 0px 0px;
    }
    @import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: rgba(#000, 0.7);
}

.container {
  height: 200vh;
  background-image: url(https://images.unsplash.com/photo-1538137524007-21e48fa42f3f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ac9fa0975bd2ebad7afd906c5a3a15ab&auto=format&fit=crop&w=1834&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: rgba(#333, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.4s;

  &-container {
    display: flex;
    max-width: 720px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition-duration: 0.3s;
    background: #fff;
    transform: translateY(100px) scale(0.4);
  }

  &-title {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
    color: #55311c;
  }

  &-desc {
    margin: 6px 0 30px 0;
  }

  &-left {
    padding: 60px 30px 20px;
    background: #fff;
    flex: 1.5;
    transition-duration: 0.5s;
    transform: translateY(80px);
    opacity: 0;
  }

  &-button {
    color: darken(#8c7569, 5%);
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    cursor: pointer;
    border: 0;
    outline: 0;
    padding: 10px 40px;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.16);
    transition: 0.3s;
    
    &:hover {
      border-color: rgba(255, 255, 255, 0.2);
      background: rgba(#fff, 0.8);
    }
  }

  &-right {
    flex: 2;
    font-size: 0;
    transition: 0.3s;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      transform: scale(2);
      object-fit: cover;
      transition-duration: 1.2s;
    }
  }

  &.is-open {
    height: 100%;
    background: rgba(#333, 0.85);

    .modal-button {
      opacity: 0;
    }

    .modal-container {
      opacity: 1;
      transition-duration: 0.6s;
      pointer-events: auto;
      transform: translateY(0) scale(1);
    }

    .modal-right img {
      transform: scale(1);
    }

    .modal-left {
      transform: translateY(0);
      opacity: 1;
      transition-delay: 0.1s;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: rgba(#333, 0.6);
      font-size: 14px;
    }
  }
}

.sign-up {
  margin: 60px 0 0;
  font-size: 14px;
  text-align: center;

  a {
    color: #8c7569;
  }
}

.input-button {
  padding: 8px 12px;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 4px;
  background: #126e40;
  font-family: "Nunito", sans-serif;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background: #55311c;
  }
}

.input-label {
  font-size: 11px;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #1d882f;
  transition: 0.3s;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: 0.3s;

  input {
    outline: 0;
    border: 0;
    padding: 4px 0 0;
    font-size: 14px;
    font-family: "Nunito", sans-serif;

    &::placeholder {
      color: #ccc;
      opacity: 1;
    }
  }

  &:focus-within {
    border-color: #1e8b42;

    .input-label {
      color: rgba(#207a2c, 0.8);
    }
  }
}

.icon-button {
  outline: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 32px;
  height: 32px;
  border: 0;
  background: 0;
  padding: 0;
  cursor: pointer;
}

.scroll-down {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: darken(#1fa352, 5%);
  font-size: 32px;
  font-weight: 800;
  transform: translate(-50%, -50%);
  svg {
    margin-top: 16px;
    width: 52px;
    fill: currentColor;
  }
}


@media(max-width: 750px) {
  .modal-container {
    width: 90%;
  }
  .modal-right {
    display: none;
  }
}