.text-darkslategray {
    color: #2F4F4F
    }
    
    .bg-darkslategray {
    background-color: #2F4F4F
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-forestgreen {
    color: #228B22
    }
    
    .bg-forestgreen {
    background-color: #228B22
    }
    
    .text-teal {
    color: #008080
    }
    
    .bg-teal {
    background-color: #008080
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-teal {
    color: #008080
    }
    
    .bg-teal {
    background-color: #008080
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-forestgreen {
    color: #228B22
    }
    
    .bg-forestgreen {
    background-color: #228B22
    }
    
    .text-white {
    color: #FFFFFF
    }
    
    .bg-white {
    background-color: #FFFFFF
    }
    
    .text-lightgreen {
    color: #90EE90
    }
    
    .bg-lightgreen {
    background-color: #90EE90
    }
    #e__119 {
    width: 320px;
    height: 568.00px;
    background-color: rgba(73, 83, 78, 1.00);
    padding: 0px 0px 0px 0px;
    }
    #e__120 {
    width: 44px;
    height: 15.00px;
    color: rgba(255, 255, 255, 1.00);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 396px;
    left: 57px;
    padding: 0px 0px 0px 0px;
    }
    #e__121 {
    width: 66px;
    height: 15.00px;
    color: rgba(255, 255, 255, 1.00);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 337px;
    left: 57px;
    padding: 0px 0px 0px 0px;
    }
    #e__122 {
    width: 69px;
    height: 15.00px;
    color: rgba(255, 255, 255, 1.00);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 268px;
    left: 112px;
    padding: 0px 0px 0px 0px;
    }
    #e__123 {
    width: 15px;
    height: 16.00px;
    background-color: rgba(83, 166, 77, 1.00);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    position: absolute;
    top: 268px;
    left: 90px;
    padding: 0px 0px 0px 0px;
    }
    #e__124 {
    width: 140px;
    height: 22.00px;
    position: absolute;
    top: 224px;
    left: 143px;
    padding: 0px 0px 0px 0px;
    }
    #e__125 {
    width: 144px;
    height: 27.00px;
    background-color: rgba(55, 117, 97, 1.00);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 214px;
    left: 88px;
    padding: 0px 0px 0px 0px;
    }
    #e__126 {
    width: 99px;
    height: 19.00px;
    color: rgba(255, 255, 255, 1.00);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: 210px;
    left: 111px;
    padding: 0px 0px 0px 0px;
    }
    #e__127 {
    width: 140px;
    height: 22.00px;
    position: absolute;
    top: 165px;
    left: 143px;
    padding: 0px 0px 0px 0px;
    }
    #e__128 {
    width: 76px;
    height: 18.00px;
    background-image: linear-gradient(0deg, rgba(238, 237, 237, 1) 0%) ;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 152px;
    left: 65px;
    padding: 0px 0px 0px 0px;
    }
    #e__129 {
    width: 12px;
    height: 12.00px;
    position: absolute;
    top: 149px;
    left: 97px;
    padding: 0px 0px 0px 0px;
    }
    #e__130 {
    width: 77px;
    height: 18.00px;
    background-image: linear-gradient(0deg, rgba(25, 119, 243, 1) 0%) ;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 152px;
    left: 179px;
    padding: 0px 0px 0px 0px;
    }
    #e__131 {
    width: 17px;
    height: 16.00px;
    position: absolute;
    top: 152px;
    left: 209px;
    padding: 0px 0px 0px 0px;
    }
    #e__132 {
    width: 153px;
    height: 29.00px;
    background-color: rgba(55, 117, 97, 1.00);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: absolute;
    top: 99px;
    left: 83px;
    padding: 0px 0px 0px 0px;
    }
    #e__133 {
    width: 105px;
    height: 24.00px;
    color: rgba(255, 255, 255, 1.00);
    color: rgba(255, 255, 255, 0.99);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: 95px;
    left: 118px;
    padding: 0px 0px 0px 0px;
    }
    #e__134 {
    border: 15px solid rgba(83, 166, 77, 1.00);
    width: 93px;
    height: 90.00px;
    background-color: rgba(83, 166, 77, 1.00);
    border-radius: 93px / 90px;
    position: absolute;
    top: 26px;
    left: 114px;
    padding: 0px 0px 0px 0px;
    }
    #e__135 {
    width: 34px;
    height: 15.00px;
    color: rgba(255, 255, 255, 1.00);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 503px;
    left: 143px;
    padding: 0px 0px 0px 0px;
    }
    #e__1042 {
    width: 141px;
    height: 15.00px;
    color: rgba(127, 227, 157, 1.00);
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    top: 35px;
    left: 97px;
    padding: 0px 0px 0px 0px;
    }